body {
    font-family: "Comic Sans MS", cursive;
    margin: 30px;
    background-color: #fff;
}

/* h1 {
    text-align: center;
}

nav {
    text-align: right;
    margin-bottom: 20px;
}

nav a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
} */

.info-seminar {
    margin-bottom: 35px;
}

.form-border {
    border: 1.5px solid black;
    padding: 30px;
    width: 600px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

button {
    margin-top: 11px;
    padding: 5px 15px;
}